[Desktop Entry]
 Version=1.0
 Exec=gksudo /opt/lampp/manager-linux-x64.run
 Icon=/opt/lampp/icons/world1.png
 Type=Application
 Categories=Application
